.post-top-bar-container{
    margin: 8px 8px 15px 5px;
}


.top-bar-join-button {
    height: 24px;
    padding: 0 10px 3px 5px;
    margin: 0 0 0 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.font-weight-700 {
    font-weight: 700;
}

.top-bar-overlay:hover {
    text-decoration: underline;
}

.popover {
    margin-top: -5px; 
}

.popover .arrow {
    visibility: hidden;
}