.score-button-container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 40px;
    background-color: #F8F9FA;
    padding: 8px 5px 0 5px;
    z-index: 5;
    position: relative;
}

.score-button {
    background-color: inherit;
    border: none;
}

.score-icon {
    font-size: 20px;
    color: rgb(135, 138, 140);
}

.score-number {
    font-weight: 700;
}