.single-post-classic-container {
    background-color: rgba(255, 255, 255);
    overflow: hidden;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
}

.single-post-classic-container:hover {
    border: 1px solid rgb(112, 112, 112);
}

.single-post-classic-right-container {
    padding: 8px;
    display: flex;
}

.single-post-classic-thumbnail {
    margin: 0px auto;
    border-radius: 3px;
    height: 60px;
    min-width: 80px;
    max-block-size: 80px;
    font-size: 50px;
    background-color:#F8F9FA;
    color: rgb(135, 138, 140);
}