.single-post-card-container {
    background-color: rgba(255, 255, 255);
    overflow: hidden;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    /* transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s; */
    cursor: pointer;
    margin: 0px 0px 15px 0px;
    position: relative;
}

.single-post-card-container:hover {
    border: 1px solid rgb(112, 112, 112);
}

.single-post-card-container,
.single-post-card-container:hover,
.single-post-card-container:link,
.single-post-card-container:visited,
.single-post-card-container:link:active,
.single-post-card-container:visited:active {
    color: inherit;
    text-decoration: none;
}

.single-post-card-media {
    margin: 10px 0 10px 5px;
    z-index: 5;
    position: relative;
}

.single-post-card-link-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.post-title {
    color: rgb(34, 34, 34);
    overflow-wrap: break-word;
    font-size: 18px;
    font-weight: 600;
    /* line-height: 22px; */
    /* padding-right: 5px; */
    margin: 0 8px 0px 5px
}

.single-post-card-img {
    max-height: 512px;
    margin: 0px auto;
    max-width: 100%;
}

.single-post-card-thumbnail {
    margin: 0px auto;
    border: 1px solid rgb(0, 121, 211);
    border-radius: 4px;
    /* float: right; */
}

.single-post-card-link {
    display: block;
    margin-right: 10px 5px 10px 0;
    z-index: 5;
    position: relative;
}

.max-height {
    max-height: 250px;
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
}