.footer-container {
    padding: 8px 12px;
}

.footer-text {
    color: black;
    font-size: 12px;
    font-weight: 550;
    line-height: 16px;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-text:hover {
    color: black;
    text-decoration: none;
}
