.premium-container {
    padding: 8px 12px
}

.premium-text-container {}

.premium-button {
    min-width: 84px;
    background-color: #ff4500;
    border-color: #ff4500;
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0;
}

.premium-button:hover{
    background-color: rgb(255, 106, 50);
    border-color: rgb(255, 106, 50);
}

.premium-button:active {
    background-color: rgb(255, 69, 0) !important;
    border-color: rgb(255, 69, 0) !important;

}