.single-community-icon {
    width: 50px
}

.single-community-text-container {
    min-width: 130px;
}

.single-community-button {
    min-width: 104px;
    height: 28px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0;
}