.header-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: .25rem;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 80;
}