.dropdown-container {
    margin-top: 4px;
    width: 20%;
    margin: 0 16px;
}

.font-size-14 {
    font-size: 14px;
}

.dropdown-toggle-custom {
    width: 100%;
    margin-top: 7px;
    /* border-radius: 4px 4px 4px 4px;
    border-color: rgb(237, 239, 241); */
}

.font-weight-600 {
    font-weight: 600;
}

.dropdown-toggle-custom::after {
    margin-top: 10px;
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent;
}

.dropdown-icons {
    font-size: 1.5rem;
}

.font-size-10 {
    font-size: 10px;
}

.dropdown-toggle-custom.btn:focus {
    outline:0;
    box-shadow: none;
    border-radius: 4px 4px 4px 4px;
    border-color: rgb(237, 239, 241);
}

.dropdown-toggle-custom.btn:hover {
    border-radius: 4px 4px 4px 4px;
    border-color: rgb(237, 239, 241);
}
