.filter-icons {
    height: 1.3rem;
    width: 1.3rem;
    color: black
}

.filter-container {
    border-right: 1px solid rgb(237, 239, 241);
    margin: 9px 15px 0 10px;
    /* padding-right: 0px; */
    height: 28px;
}