.filter-icons {
    font-size: 1.3rem;
    color: black
}

.filter-container {
    /* display: flex;     */
    border-right: 1px solid rgb(237, 239, 241);
    margin: 6px 0px 0 10px;
    /* padding-right: 0px; */
    height: 28px;
}